#header, 
#top, 
#portfolio .row > :nth-of-type(n+4), 
.profile_link, 
.skills, 
.btn {
  display: none;
}

.content {
  min-height: auto;
  background-color: transparent !important;
  color: #000 !important;
  &::before {
    display: none;
  }
}

.wrap {
  max-width: 1024px !important;
  margin-bottom: 0;
  padding-bottom: 20px;
}

#profile .profile_row2 {
  position: relative;
}
.profile_image {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 10px;
}

.profile_detail {
  padding: 0;
  padding-top: 40px;
}
.profile_info {
  li {
    width: auto;
  }
  li:last-of-type {
    margin-right: auto;
  }
  li + li {
    &::before {
      content: '|';
      color: #ccc;
    }
  }
  span {
    display: none;
  }
}
.profile_about {
  padding: 0;
  ol, p {
    margin: 0;
  }
}

#resume .wrap {
  padding-left: 15px;
  padding-bottom: 0;
  .row > div {
    padding: 0;
  }
}

.gap {
  padding: 0;
  margin: 0;
}

.edu_list, 
.exp_list {
  margin-left: 20px;
  border-left-color: #ccc;
  & > li {
    margin-left: 10px;
    margin-bottom: 10px;
    &::after {
      left: -26px;
      background-color: #f4f4f4;
      box-shadow: inset 0 0 0 2px #f4f4f4;
    }
  }
  .detail li::before {
    background-color: #ccc;
  }
}

#portfolio .wrap {
  padding-left: 15px;
  padding-right: 30px;
  box-sizing: border-box;
  & > .title {
    display: block;
    margin: 0;
    padding: 0;
  }
}
