<!DOCTYPE html>
html(lang="zh-Hant-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Resume
    link(rel="stylesheet", href="style/style.min.css")
    //- link(rel="stylesheet", href="style/onepage.min.css")
  body
    header#header
      .container
          .row
            .col 
              nav.nav
                .navBtn
                  span
                  span
                  span
                ul
                  li
                    button.nav_link.active(data-target="#top") Home
                  li
                    button.nav_link(data-target="#profile") About
                  li
                    button.nav_link(data-target="#resume") Resume
                  li
                    button.nav_link(data-target="#portfolio") Portfolio
            .scroll_mark
              .scroll_dropdown
    #top
      .top_title 
        p Huang Yi-Hua
    #profile.content
      .wrap
        .container
          .row.profile_row1
            .col-12
              .container
                .row.profile_row2
                  .profile_image
                    .img(style="background-image: url('img/profileimage.jpg')")
                  .profile_detail
                    h2.profile_name 黃憶樺 
                      span.profile_enName Huang Yi-Hua
                    ul.profile_info
                      li 
                        span Job
                        | 網頁工程師
                      li 
                        span Birth
                        | July, 1993
                      li 
                        span Location
                        | Chiayi, Taiwan
                      li 
                        span Tel
                        | 0925369385
                      li 
                        span E-mail
                        | os88430@gmail.com
                    .profile_about 
                      p 曾擔任多媒體編輯師，在工作之餘持續學習前端技術，對於 Web 抱有熱情與興趣。喜歡持續學習有趣的新知識，對所有事物都保持著開放的心態。
                      .profile_more.hide
                        p 撰寫網頁對我來說是一個非常有趣、處處都有驚喜，並且可以磨練自身思維的一件事。利用程式語言成功與電腦溝通是一件有極大成就感的事。
                        p 學習新知識之餘，亦喜歡挑戰自己是否能比以前的自己用更少或更簡單的東西但做出一樣的成品，能比過以前的自己才算最大的進步。
                        p 認為僅有知識是不夠的，要先認清自己「會什麼」「不會什麼」，知道自己的能力範圍在哪，然後思考如何把僅有的能力最大化。為此，一顆靈活的大腦是很重要的，而自己本身亦喜歡讓大腦進行「肌肉訓練」，讓自己的思緒速度不會慢下來，在大學的數學解題與邏輯課程獲得近滿分的成績便是最好的證明。
                        h5 興趣啟蒙
                        p 從國小開始接觸網頁相關技術，開啟了我對於網頁設計的興趣，接著國中時便自行開始設計個人網站，漸漸從頁框排版、Float 排版，接著開始接觸 JavaScript、Vue 等等，每一項技術演變都讓當時的我振奮不已，覺得有扇新的門在眼前開啟。
                        h5 過去經歷
                        p 在大學時有幸擔任系網的維修員，沒有方向的情況下，在重重程式碼中找到需要修改的部分，並且傾聽學系的需求來改變網頁，讓我慢慢將自己的知識轉變為解決問題的方法。而在研究所過程中，也在專題裡融入隨機產生結果的網頁，並且亦協助解決他組的相同技術問題，分析自己僅有的技能，靈活組合運用解決眼前的問題。
                        h5 未來期望
                        p 前端的變化是十分快速，不能僅滿足於現在已經學會的知識，要時刻保持著學到底的態度才能站穩。而在這過程中磨練自己的觀念，並且更靈活的應用是我今後的課題。
                      button.btn More...
    #resume.content
      .wrap
        .container
          .row
            .col-6.col-md-12
              .education.container.gap
                h3.title Education
                ul.edu_list
                  li
                    span.time 2015 - 2016
                    h6.name 國立嘉義大學 數位學習設計與管理研究所 休學
                    ul.detail
                      li 製作一款數位桌遊的遊戲企劃
                      li 修改一款數位桌遊之規則
                      li 論文 The Influence of Thinking Styles and Self-adjustment Strategies Apply on Digital Table Game
                      li 論文 Verbal Behavior in Digital Board Game: The Association between Personality Traits and Lying Behavior
                  li
                    span.time 2011 - 2015
                    h6.name 國立台南大學 生物科技學系
                    ul.detail
                      li 大學期間協助音樂系助教成立合唱社團並加入
                      li 外修數位遊戲設計課並產出一款遊戲企劃
            .col-6.col-md-12
              .experience.container.gap
                h3.title Experience
                ul.exp_list
                  li
                    span.time Sep 2017 - Mar 2020 
                    h6.name 任職於旺宇興業股份有限公司 多媒體編輯師
                    ul.detail
                      li 剪輯影片與依需求編輯影片順序
                      li 剪輯製作影片之預告片
                      li 製作相對應影片之封面圖片
                      li 將字幕鑲上影片
                      li 規劃影片上下架順序與時程表
                  li
                    span.time Jan 2017 - Mar 2017
                    h6.name 任職於穎冠茶飲企業有限公司 服務生
                  li
                    span.time 2016
                    h6.name 實作一款策略桌遊
                    ul.detail
                      li 主要設計遊戲規則與遊玩方式之遊戲企劃部分
                      li 利用 JavaScript 製作隨機內容網頁並應用於遊戲上
                      li 書寫論文刊登於 Int. J. of Mobile Learning and Organisation
                  li
                    span.time 2013 - 2015
                    h6.name 管理修改學系網站
                  li
                    span.time 2011
                    h6.name 為補習班建設官方網站 
            .col-12.col-md-12
              .skills.container
                h3.title Skills
                .row
                  .col-4.col-md-6.col-sm-12
                    .certificate
                      h4 Certificates
                      ul.skill_list
                        li TQC-IP PI Primary
                        li JLPT N2
                  .col-4.col-md-6.col-sm-12.order-2
                    .lang
                      h4 Languages
                      ul.skill_list
                        li
                          h6.name 中文
                          .progress(data-level="8")
                            .bar
                        li
                          h6.name 英文
                          .progress(data-level="4")
                            .bar
                        li
                          h6.name 日文
                          .progress(data-level="6")
                            .bar
                  .col-8.col-md-12.col-sm-12
                    .soft
                      h4 Soft Skills
                      ul.skill_list
                        li
                          h6.name Photoshop
                          .progress(data-level="80")
                            .fill
                            .bar
                            span 80%
                        li
                          h6.name Illustrator
                          .progress(data-level="70")
                            .fill
                            .bar
                            span 70%
                        li
                          h6.name Premiere
                          .progress(data-level="45")
                            .fill
                            .bar
                            span 45%
                        li
                          h6.name VS Code
                          .progress(data-level="40")
                            .fill
                            .bar
                            span 40%
                  .col-8.col-md-12.col-sm-12.order-2
                    .coding
                      h4 Coding Skills
                      ul.skill_list
                        li
                          h6.name HTML / CSS
                          .progress(data-level="75")
                            .fill
                            .bar
                            span 75%
                        li
                          h6.name SASS
                          .progress(data-level="75")
                            .fill
                            .bar
                            span 75%
                        li
                          h6.name JavaScript
                          .progress(data-level="55")
                            .fill
                            .bar
                            span 55%
                        li
                          h6.name jQuery
                          .progress(data-level="45")
                            .fill
                            .bar
                            span 45%
                        li
                          h6.name Bootstrap
                          .progress(data-level="45")
                            .fill
                            .bar
                            span 45%
                        li
                          h6.name RWD
                          .progress(data-level="55")
                            .fill
                            .bar
                            span 55%
                        li
                          h6.name Vue
                          span.learning 學習中
    #portfolio.content
      .wrap
        .container
          .row
            .col-12
              .container
                .row
                  .col-4.col-md-6.col-sm-12
                    .project
                      .project_image
                        .img(style="background-image: url('img/colorchange.png')")
                        a.project_link(href="https://hoshikata.github.io/colorchange/" target="_blank")
                      .project_detail
                        h6 Color Change
                        ul.project_list
                          li 利用 JavaScript 做出遊戲並排除錯誤
                          li 簡易應用 JavaScript Prototype
                          li 簡易應用 Local Storage
                        p.project_tag
                          span Html / CSS
                          span SASS
                          span JavaScript
                  .col-4.col-md-6.col-sm-12
                    .project
                      .project_image
                        .img(style="background-image: url('img/plurkcssgenerator.png')")
                        a.project_link(href="https://hoshikata.github.io/PlurkCSSGenerator/" target="_blank")
                      .project_detail
                        h6 Plurk CSS Generator
                        ul.project_list
                          li 分析噗浪社群網站並做出輔助工具
                          li 應用 SASS 做出簡易的網格系統
                          li 實作簡易的 RWD 網站
                        p.project_tag 
                          span Html / CSS
                          span SASS
                          span JavaScript
                  .col-4.col-md-6.col-sm-12
                    .project
                      .project_image
                        .img(style="background-image: url('img/freespeech.png')")
                        a.project_link.imageLink(href="javascript:;")
                        .imageLarge
                          .imageLarge_close
                          img(src="img/freespeech.png")
                      .project_detail
                        h6 Free Speech
                        ul.project_list
                          li 利用貪吃蛇的概念表達循序漸進的學習
                          li 蛇的花紋使用三角強調蛇的概念
                  .col-4.col-md-6.col-sm-12
                    .project
                      .project_image
                        .img(style="background-image: url('img/oldwebsite.png')")
                        a.project_link.imageLink(href="javascript:;")
                        .imageLarge
                          .imageLarge_close
                          img(src="img/oldwebsite.png")
                      .project_detail
                        h6 Old Website Review
                        ul.project_list
                          li 利用頁框切版
    script(src="script/script.js")